/[Bb]uild*/
/[Ii]nstall*/
/cmake-build-debug/
*.laz
*.las
*.pcd
*.csv
*.pcap
*.rw5
*.gpx
*.txt
*.kml
.DS_Store

# JetBrains files
.idea/
# Visual Studio Code files
.vscode/
# Visual Studio files
.vs/
