[submodule "vendor/LAStools"]
	path = vendor/LAStools
	url = https://github.com/LAStools/LAStools.git
[submodule "vendor/ikalman"]
	path = vendor/ikalman
	url = https://github.com/neonbjb/ikalman.git
[submodule "vendor/TinyEKF"]
	path = vendor/TinyEKF
	url = https://github.com/simondlevy/TinyEKF.git
